body {
  font-family: Arial, Helvetica, sans-serif;
  color: orange;
  background: teal;
  width: 1260px;
  font-size: 18px;
  margin: 0 auto;
  text-align: center;
}

header, nav, section, aside, footer {
  background: pink;
  border: 3px white solid;
  margin-bottom: 25px;
}

article {
  color: white;
  background:purple;
  border: 3px white solid;
  padding: 120px;
  float: left;
}

h1, p {
  color: white;
  background: teal;
  border: 3px white solid;
  font-size: 18px;
}

nav {
  margin-bottom: 20px;
  border: 3px white solid;
}

section {
  width: 30%;
  float: left;
  height: 40%;
  padding: 100px;
  color: white;
  border: 3px white solid;
}

  aside {
  width: 10%;
  height: 77px;
  float: right;
  padding: 260px;
  color: white;
  background: orange;
  border: 3px white solid;
}

footer{
  margin-top: 25px;
}

.clearfix::after {
  content: "";
  clear: both;
  display: table;
}

.simpleFormat {
  background: orange;
  color: white;
  font-family: Arial, Helvetica, sans-serif;
  padding: 20px;
  text-align: center;
}

