* {
  box-sizing: border-box;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  color: orange;
  background: teal;
  width: 1260px;
  font-size: 18px;
  margin: 0 auto;
  text-align: center;
}

header, nav, section, aside, footer {
  background: pink;
  border: 3px white solid;
  margin-bottom: 25px;
}

article {
  color: white;
  background:purple;
  border: 3px white solid;
  float: left;
  width: 80%;
  margin: auto;
  margin-top: 20px;
  margin-left: 40px;
}

h1, p {
  color: white;
  background: teal;
  border: 3px white solid;
  font-size: 18px;
}

nav {
  margin-bottom: 20px;
  border: 3px white solid;
}

section {
  display: block;
  width: 50%;
  float: left;
  height: 250px;
  color: white;
  border: 3px white solid;
  overflow: hidden;
}

aside {
  width: 45%;
  height: 250px;
  float: right;
  /* padding: 260px; */
  color: white;
  background: orange;
  border: 3px white solid;
}

footer{
  margin-top: 25px;
}

.h1s  {
  background:pink;
  border: 0;
  color: white;
}

.clearfix::after {
  content: "";
  clear: both;
  display: table;
}

.simpleFormat {
  background: orange;
  color: white;
  font-family: Arial, Helvetica, sans-serif;
  padding: 20px;
  text-align: center;
}

